:root {
  --square-size: 24px;
  --space-between: 5.5px;
  --shift-up: -21px;
  --left-space: 17.5px;

  --cyan: #00bfff;
  --green: #32cd32;
  --red: #f04000;
  --yellow: #ffd700;
  --blue: #4979c4;
  --pink: #ff69b4;
  --orange: #ff9000;

  --color0: var(--cyan);
  --color1: var(--green);
  --color2: var(--red);
  --color3: var(--yellow);
  --color4: var(--blue);
  --color5: var(--pink);
  --color6: var(--orange);

  --background: #606060;

}

body {
  background-color: var(--background);
}

.on-row {
  margin-top: var(--shift-up);
}

.off-row {
  margin-left: var(--left-space);
  margin-top: var(--shift-up);
}

.diamond {
  height: var(--square-size);
  width: var(--square-size);
  transform: rotate(45deg);
  display: inline-block;
  margin: var(--space-between);
}

/* Cyan */
.color0 {
  background-color: var(--color0);
  color: var(--color0);
}

/* Green */
.color1 {
  background-color: var(--color1);
  color: var(--color1);
}

/* Red */
.color2 {
  background-color: var(--color2);
  color: var(--color2);
}

/* Yellow */
.color3 {
  background-color: var(--color3);
  color: var(--color3);
}

/* Blue */
.color4 {
  background-color: var(--color4);
  color: var(--color4);
}

/* Pink */
.color5 {
  background-color: var(--color5);
  color: var(--color5);
}

/* Orange */
.color6 {
  background-color: var(--color6);
  color: var(--color6);
}
